# Android build
androidClient/.gradle/
androidClient/build/
androidClient/app/build/
androidClient/local.properties

# Gradle wrapper binary
androidClient/gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
